<div class="container">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="model.displayName" name="name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="model.email" name="email">
    </div>

    <div class="form-group">
      <label for="email">Images</label>
      <input type="file" class="form-control" multiple accept="image/jpeg" id="images"
              name="images" (change)="onImagesChanged($event)">
    </div>
    <button type="submit" class="btn btn-success" >Submit</button>

  </form>
</div>
{{message}}
<app-alerts></app-alerts>
{{diagnostic}}

