<div class="container">

  <form (ngSubmit)="onSubmit()">
    <label class="field" style="text-align: center">Add new user.</label>

    <mat-form-field class="field">
      <input matInput placeholder="Name" type="text" id="name" required
             [(ngModel)]="model.displayName" name="name">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="Email" type="text" id="email" required
             [(ngModel)]="model.email" name="email">
    </mat-form-field>

    <div>
      <label>Images:</label>
      <input placeholder="Email" type="file" multiple accept="image/jpeg" id="images"
             name="images" (change)="onImagesChanged($event)">
    </div>
    <div class="add-button-container">
      <button mat-flat-button class="add-button" type="submit">Submit</button>
    </div>
    </form>
</div>
<app-alerts></app-alerts>
{{diagnostic}}

