<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/admin']">{{'AdminPanel.home' | translate}}</a>
    <a mat-button [routerLink]="['/admin/stream']">{{'AdminPanel.stream' | translate}}</a>
    <a mat-button [routerLink]="['/admin/user/new']">{{'AdminPanel.addNewUser' | translate}}</a>
    <button mat-button (click)="logout()" style="background-color: lightsteelblue;">{{'logoutButton' | translate}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">

  <form (ngSubmit)="onSubmit()">
    <label class="field" style="text-align: center">{{'AddNewUser.title' | translate}}</label>

    <mat-form-field class="field">
      <input matInput placeholder="{{'AddNewUser.name' | translate}}" type="text" id="name" required
             [(ngModel)]="model.displayName" name="name">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="{{'AddNewUser.email' | translate}}" type="text" id="email" required
             [(ngModel)]="model.email" name="email">
    </mat-form-field>

    <div>
      <label>{{'AddNewUser.images' | translate}}</label>
      <input placeholder="Email" type="file" multiple accept="image/jpeg" id="images"
             name="images" (change)="onImagesChanged($event)">
    </div>
    <div class="add-button-container">
      <button mat-flat-button class="add-button" type="submit">{{'AddNewUser.addButton' | translate}}</button>
    </div>
    </form>
</div>
<app-alerts></app-alerts>
<!--{{diagnostic}}-->

<!--http://192.168.1.4:1935/live/enter/playlist.m3u8-->
