.column {
  float: left;
  width: 20%;
}

.history {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.color-red {
  color: red;
}

.color-green {
  color: lawngreen;
}

.isPresent-item {
  font-size: 46px;
  text-align: center;
}

.chip-list {
  margin: 10px;
}


