.container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: inline-block;
}

.enter {
  float: left;
  width: 50%;
}

.exit {
  float: left;
  width: 50%;
}

.video-canvas {
  min-width: 94%;
  height: auto;
  padding: 3%;
}

.video-label {
  font-weight: bold;
  padding: 3%;
  min-width: 94%;
}

.input-container {
  padding: 3%;
  min-width: 94%;
}

.start-button-container {
  margin: auto;
  width: 30%;
}

.start-button {
  background-color: lightsteelblue;
  min-width: 100%;
}
