<div class="container">

  <form (ngSubmit)="onSubmit()">
    <label class="field" style="text-align: center">{{'Edit.title' | translate}}</label>

    <mat-form-field class="field">
      <input matInput placeholder="{{'Edit.name' | translate}}" type="text" id="name" required
             [(ngModel)]="model.displayName" name="name">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="{{'Edit.email' | translate}}" type="text" id="email" required
             [(ngModel)]="model.email" name="email">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="{{'Edit.password' | translate}}" type="text" id="pass" required
             [(ngModel)]="model.password" name="email">
    </mat-form-field>

    <!--<div>-->
      <!--<label>{{'AddNewUser.images' | translate}}</label>-->
      <!--<input placeholder="Email" type="file" multiple accept="image/jpeg" id="images"-->
             <!--name="images" (change)="onImagesChanged($event)">-->
    <!--</div>-->
    <div class="add-button-container">
      <button mat-flat-button class="add-button" type="submit">{{'Edit.done' | translate}}</button>
    </div>
  </form>

  <div *ngFor="let imgPath of model.images" style="margin-left:30px; margin-top: 30px">
    <div style="display: inline-block; float: right; border: 2px black solid; margin: 5px">
      <img [src]="imgPath" style="width: 50px; height: 50px">
    </div>
  </div>
</div>
