<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/admin']">{{'AdminPanel.home' | translate}}</a>
    <a mat-button [routerLink]="['/admin/edit']">{{'AdminPanel.edit' | translate}}</a>
    <a mat-button [routerLink]="['/admin/user/new']">{{'AdminPanel.addNewUser' | translate}}</a>
    <button mat-button (click)="logout()" style="background-color: lightsteelblue;">{{'logoutButton' | translate}}</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <div *ngFor="let user of userList">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-list-item>
          <div class="row" mat-line="">
            <div class="column"><p>{{'Edit.name' | translate}}{{user.name}}</p></div>
            <div class="column"><p>{{'Edit.email' | translate}}{{user.email}}</p></div>
            <div class="column"><button (click)="editTouched(user)" color="gray">{{'Edit.editButton' | translate}}</button></div>
            <div class="column"><button (click)="deleteTouched(user)" color="gray">{{'Edit.delete' | translate}}</button></div>
          </div>
        </mat-list-item>
      </mat-expansion-panel-header>
      <mat-list style="margin-left:30px;">
        <div *ngFor="let imgPath of user.images">
          <mat-list-item>
            <div class="row" mat-line>
              <div>
                <p>{{imgPath}}</p>
                <img [src]="imgPath">
              </div>
            </div>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-expansion-panel>
  </div>
</mat-list>

