<h4 style="text-align: center">{{'userProfile' | translate}}</h4>
<mat-list>
  <mat-list-item>
    <div class="row" mat-line="">
      <div class="column"><p>{{'Visitor.name' | translate}}{{visitor.name}}</p></div>
      <div class="column"><p>{{'Visitor.email' | translate}}{{visitor.email}}</p></div>
      <div class="column"><p>{{'Visitor.totalHours' | translate}}{{visitor.formattedTotalTime}}</p></div>
      <div class="column"><p>{{'Visitor.lastVisit' | translate}}{{visitor.formattedLastVisit}}</p></div>
      <div class="column">
        <div class="column"><p>{{'Visitor.isPresent' | translate}}</p></div>
        <div style="display: inline; float: right"><span class="isPresent-item" ngClass="{{visitor.isPresent ? 'color-green' : 'color-red'}}">&#8226;</span></div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<button mat-button (click)="logout()" style="background-color: lightsteelblue;">{{'logoutButton' | translate}}</button>
